@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(https://fonts.gstatic.com/s/ubuntumono/v6/ceqTZGKHipo8pJj4molytjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
body{
	color:#555;
	font:normal 13px Verdana, sans-serif;
	margin:0;
	padding:12px;
}
section{
	border:1px solid #ddd;
	padding:5px;
	border-radius:3px;
	max-width: 600px;
	margin: 0 auto 12px;
}
section:last-child{
	margin-bottom:100px;
}
h1{
	font-size:14px;
	text-indent:7px;
}
p{
	margin:3px;
	text-indent:7px;
}
ul{
	margin:5px 0;
}
a{
	color:#86A800;
}
a.btn{
	text-decoration:none;
	border:1px solid #9CB848;
	border-radius:3px;
	padding:0 5px;
	color:#fff;
	background:#A3BF4E;
}
a.btn:hover{
	background:#B7D45F;
}
.author{
	text-align:right;
}
.attention{
	background-color: #FFEFD6;
}
.center{
	text-align: center;
}
.size10{
	font-size:10px;
}
.first{
	border:0;
	font:700 42px 'Ubuntu Mono';
}
.first p{
	color:#b1001a;
	display:inline-block;
}
.first span{
	background:#b1001a;
	color:#fff;
	display:inline-block;
}
.first p:after,
.first span:after{
	content:'';
	width:102%;
	height:0;
	border-bottom:1px solid #b1001a;
	display:block;
	position:relative;
	bottom:4px;
}
.first span:after{
	border-bottom:1px solid #fff;
	width:100%;
	bottom:3px;
	z-index:3;
}
@media only screen and (max-width:460px){
	.first{ font-size:32px;	}
}