@font-face{
	font-family:'Ubuntu Mono';
	font-style:normal;
	font-weight:700;
	src:local('Ubuntu Mono Bold'),local('UbuntuMono-Bold'),url(https://fonts.gstatic.com/s/ubuntumono/v6/ceqTZGKHipo8pJj4molytjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
body{
	color:#555;
	font:normal 13px Verdana, sans-serif;
	margin:0;
	padding:12px;
	background:#fff;
}
section{
	padding:0;
	max-width:570px;
	margin:0 auto 25px;
}
section:first-child{
	margin-bottom:40px;
}
section:last-child{
	margin-bottom:25px;
}
.shadow{
	position:relative;
	padding:20px 30px;
	background:#fff;
}
.shadow:before,
.shadow:after{
	content:'';
	position:absolute;
	z-index:-1;
	border-radius:100%;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	left:10px;
	right:10px;
	height:15px;
}
.shadow:before{top:0}
.shadow:after{bottom:0}
table{
	margin:21px auto;
	border-collapse:collapse;
	border:1px solid #fff;
}
table td{
	padding:5px 15px;
	text-align:center;
}
table td{
	border:1px dotted #e7e7e7;
}
h1{
	font-size:14px;
	text-indent:7px;
}
p{
	margin:3px;
	text-indent:7px;
}
ul{
	margin:5px 0;
}
a{
	color:#86A800;
}
a.btn{
	text-decoration:none;
	border:1px solid #b2b2b2;
	border-radius:2px;
	padding:5px 15px;
	color:#7b7b7b;
	background:#d8d8d8;
	transition:background .21s;
}
a.btn:hover{
	background:#f0f0f0;
}
.author{
	text-align:right;
}
.attention{
	background-color: #FFEFD6;
}
.center{
	text-align: center;
}
.size10{
	font-size:10px;
}
.subtitle {
	color: #000 !important;
	font-size: 0.5em;
}
.subtitle::after> {border-bottom: 5px solid #000 ;
}
.first{
	border:0;
	font:700 42px 'Ubuntu Mono';
}
.first p{
	color:#cf001e;
	display:inline-block;
}
.first span{
	background:#cf001e;
	color:#fff;
	display:inline-block;
}
.first p:after,
.first span:after{
	content:'';
	width:102%;
	height:0;
	display:block;
	position:relative;
	border-bottom: 1px solid #cf001e;
	bottom:4px;
}
.first span:after{
	border-bottom:1px solid #fff;
	width:100%;
	bottom:3px;
	z-index:3;
}
::selection{
	color:#fff;
	background:#cf001e;
}
@media only screen and (max-width:460px){
	.first{ font-size:32px;	}
}
